:root {
    --text-primary-color: #252323;
    --text-secondary-color: #4b4b4b;
    --divider-color: #d8d8d8;
    --bg-color: #eef0f2;
    --cta-color: #36f;
    --cta-hover-color: #2b57d9;
    --accent-color: #f8d57e;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    padding: 28px 0px;
    box-sizing: border-box;
}

main {
    display: block;
}

body {
    width: 100%;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-family: "Mulish", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 640px;
    text-align: center;
    border: 2px solid green;
}

.logo {
    margin: 0 auto;
    width: 144px;
    height: 40px;
}

.hero {
    margin-top: 35px;
    background: var(--bg-color);
    padding: 28px 0px;
}

.hero__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 24px;
}

.hero__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 24px;
}

.startImage {
    width: 640px;
    height: 293px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.hero__additional-text {
    font-size: 14px;
    margin-bottom: 24px;
}

.input-email {
    width: 324px;
    height: 45px;
    padding: 0px 15px;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #3b3b3b;
}

.btn-email {
    border-radius: 8px;
    padding: 0px 24px;
    width: 98px;
    height: 45px;
    border: none;
    background: var(--cta-color);
    text-align: center;
    color: #fff;
}

.products {
    padding: 30px 0px;

}

.products__title {
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: var(--text-primary-color);
}

.products__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 640px;
    column-gap: 5px;
    row-gap: 5px;
}

.product__item {
    position: relative;
    width: calc(50% - 5px);
    width: 314px;
    height: 340px;
    min-width: 180px;
    border: 1px solid var(--divider-color);
    border-radius: 8px;
}

.product__text-box {
    padding: 16px;
    width: 314px;
    height: 181px;
}

.product__img {
    width: 314px;
    height: 159px;
    border-radius: 8px 8px 0 0;
}

.product__title {
    margin-bottom: 10px;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: var(--text-primary-color);
}

.product__text {
    text-align: left;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-secondary-color);
}

.product__link {
    text-align: left;
}

.product__item-link {
    position: absolute;
    bottom: 16px;
    border-radius: 5px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: var(--cta-color);
}

.nav_links-footer {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
}

.nav__link-ikon {
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
}

.nav__footer {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.nav__footer_text {
    margin: 0 auto;
    width: 582px;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--text-secondary-color);
    margin-bottom: 34px;
}

.nav__footer_link {
    color: var(--cta-color);
}

.nav__footer_link:hover {
    opacity: 0.5;
}